<div class="app">
  <a href="https://safarali.pro" target="blank"
    ><img src="../assets/android-icon-36x36.png" alt="my-logo"
  /></a>
  <div class="tesseract">
    <h2>Image to Text</h2>
    Tesseract.js is a pure Javascript port of the popular
    <a href="https://github.com/tesseract-ocr/tesseract" target="blank"
      >Tesseract OCR (Optical Character Recognition) engine</a
    >. This library supports more than 100 languages (including Azerbaijani
    turkish), automatic text orientation and script detection, a simple
    interface for reading paragraph, word, and character bounding boxes.
    Tesseract.js can run either in a browser and on a server with NodeJS.
  </div>

  <div class="lang">
    <label>Select language:</label>
    <select name="lang" id="lang" [(ngModel)]="file.selectedLang">
      <option value="aze">Azerbaijani</option>
      <option value="aze_cryl">Aze_cryl</option>
      <option value="ara">Arabic</option>
      <option value="eng" selected>English</option>
      <option value="fas">Persian</option>
      <option value="rus">Russian</option>
      <option value="tur">Turkish</option>
    </select>
    <button
      class="btn btn-large"
      class="btn-convert"
      [disabled]="!file.selectedLang"
      (click)="file.convert()"
    >
      Convert
    </button>
  </div>

  <app-file-upload #file></app-file-upload>
</div>
